header {text-align: center;border: 1px solid #000; font-size: 50px; background-color: brown}
img{width: 250px;
height:250px;
margin: 20px 20px}
h5{color: "red"}
#head{ height:620px;width: 350px; border: 1px solid black;margin:5px 0 5px 35%}

#Diaz
 {border: 1px solid black;width:auto; height: auto;
 	background-color: #000;color: red; margin:20px 10px 20px 20px; background-position: 300px 0 0 0  }
#Atas{ height:620px;width: auto; border: 1px solid black;margin:5px 0 5px 0;}

#Andi {border: 1px solid black;width:32%; height: auto;
 	background-color: #000;color: red; margin:20px 0px 0px 20px; float: left;}
#Yazid
{border: 1px solid black;width:32%; height: auto;
 	background-color: #000;color: red; margin:20px 0px 0px 20px; float: left;}
#Bawah{ height:620px;width: auto; border: 1px solid black;margin:5px 0 5px 0;}
#Maul
{float: left; border: 1px solid black;width:30%; height: auto;
 	background-color: #000;color: red; margin:20px 0px 0px 20px;}
#Aril
{float: left;border: 1px solid black;width:32%; height: 90%;
 	background-color: #000;color: red; margin:20px 0px 0px 20px;}
#Shafira
{float: left;border: 1px solid black;width:32%; height: 90%;
 	background-color: #000;color: red; margin:20px 0px 0px 20px;}
#Cino{float: left;border: 1px solid black;width:30%; height: 90%;
 	background-color: #000;color: red; margin:20px 0px 0px 20px;}
 footer {text-align: left;border: 1px solid #000; background-color: brown}
 #footer{text-align: center;border: 1px solid #000; font-size: 20px; background-color:grey }